PORT=5000
MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/voting?retryWrites=true&w=majority
JWT_SECRET=your-jwt-secret-key
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=yadnyavalkyakd.a04@gmail.com
SMTP_PASS=tyugyixtnqzxodzx
FRONTEND_URL=http://localhost:5173
